<a href="https://colab.research.google.com/github/Taslar16/Python/blob/main/Hamid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prints your name and age.

In [ ]:
Name = "Hamid"
Age = "33"
print (Name, Age)

Hamid 33

In [ ]:
P = 10, 2
t = 3, 4
print (P+t)

(10, 2, 3, 4)

In [ ]:
P = 10, 2
t = 3, 4
print (sum(P+t))

19

2. Store your favorite number in a variable and print it.

In [ ]:
Number = 7105
print(Number)

7105

In [ ]:
T, O = 6, 5
print (T+O)
print ("6+5=", T+O)
print ("6+5=",)

11
6+5= 11
6+5=

4. Use comments to explain your code.

In [ ]:
T, O = 6, 5
# T and O were Added
print (T+O)
print ("6+5=", T+O)
# WE CAN MAKE AS FOLLOWS ALSO
print ("6+5=",)

11
6+5= 11
6+5=

Take two numbers from the user and perform all arithmetic operations.
Write a program to check if a number is greater than 100 and less than 200.
Demonstrate the use of and, or, and not with conditions.
Check if the letter 'p' exists in the string 'Python'.
Show the difference between is and == using two lists.

In [ ]:
number1 = int (input ("enter your number1: "))
number2 = int (input ("enter your number2: "))
print ("Sum:", number1 + number2)
print ("Difference:", number1 - number2)
print ("Product:", number1 * number2)

# Add a check to prevent division by zero
if number2 != 0:
    print ("Division:", number1 / number2)
else:
    print("Cannot divide by zero.")

enter your number1: 110
enter your number2: 12
Sum: 122
Difference: 98
Product: 1320
Division: 9.166666666666666

In [ ]:
x = 100
y = 200
print (x == y)
print (x > 100 and y < 200)
print (x > 100 or y < 200)
print (not x > 100)
print (110 > 100 and 110 < 200)
print (110 > 100 or 110 < 200)
print (not 110 > 100)
print ( x != y)

False
False
False
True
True
True
False
True

In [ ]:
print ( 10 and 10 )
print (10 and 0 )
print ( 10 or 10 )
print (10 or 0 )
print (not 0 )
print (not 10)
print ( not False)

10
0
10
10
True
False
True

In [ ]:
Name = "Python"
print ("P" in Name)
print ("a" in Name)
print ("a" not in Name)

True
False
True

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
print (x == y)
print (x is y)
print (x and y)

True
False
[1, 2, 3]

Ask the user for their birth year and calculate their age.
Convert a float number to an integer and print both values.
Write a program that asks for two numbers and prints their product.
Create a variable is_python_fun with a boolean value and print it.

In [ ]:
birth_year = int(input("enter your birth_year: "))
age = (2023 - birth_year)
print(age)

enter your birth_year: 1991
32

In [ ]:
number = 3.99
print(number)
print(type(number))
print(int(number))
print(type(int(number)))

3.99
<class 'float'>
3
<class 'int'>

In [ ]:
is_python_fun = True
bool(is_python_fun)
print(is_python_fun)

True

Take a string input and print the first and last characters.
Write a program to reverse a string using slicing.
Count how many times the letter a appears in a string.
Ask the user for their full name and print it in uppercase.
Format a string to display: “My favorite subject is ___ and I am ___ years old.”

In [ ]:
word = "Ahasanul"
print (word [0])
print (word [7])

A
l

In [ ]:
word = "Ahasanul"
print (word[3:])

sanul

In [ ]:
word = "Ahasanul"
# Count the occurrences of the letter 'a' (case-sensitive)
print (word.count('a'))

2

In [ ]:
word = input ("enter a word")
print (word.count("a"))

enter a wordAhasanul
2

In [ ]:
word = input ("enter a word")
print (word.upper())

enter a wordAhasanul
AHASANUL

In [ ]:
my_favourite_subject = input ("enter a subject")
my_age = input ("enter a age")
print (f"My favorite subject is {my_favourite_subject} and I am {my_age} years old.")

enter a subjectBiology
enter a age32
My favorite subject is Biology and I am 32 years old.

Create a list of 5 numbers and print the sum and average.
Store 3 favorite colors in a tuple and print them.
Create a set of numbers and demonstrate union and intersection.
Make a dictionary with keys: name, age, city. Print values nicely.
Update a dictionary to add a new key country.

In [ ]:
numbers = (1, 2, 3, 4, 5)
print (sum(numbers))
print (sum(numbers) / len(numbers))

15
3.0

In [ ]:
colors = ("Blue", "Green", "white")
print (colors)

('Blue', 'Green', 'white')

In [ ]:
numbers1 = {1, 3, 5, 12}
numbers2 = {2, 4, 6, 8}
print (numbers1 | numbers2)
print (numbers1 & numbers2)

{1, 2, 3, 4, 5, 6, 8, 12}
set()

In [ ]:
worker = { "name": "Honda", "Age": 34, "city": "Rajshahi"}
print (worker)
print(worker.keys())
print (worker.values())

{'name': 'Honda', 'Age': 34, 'city': 'Rajshahi'}
dict_keys(['name', 'Age', 'city'])
dict_values(['Honda', 34, 'Rajshahi'])

In [ ]:
worker = { "name": "Honda", "Age": 34, "city": "Rajshahi"}
worker ["country"] = "Bangladesh"
print (worker)
print(worker.keys())
print (worker.values())

{'name': 'Honda', 'Age': 34, 'city': 'Rajshahi', 'country': 'Bangladesh'}
dict_keys(['name', 'Age', 'city', 'country'])
dict_values(['Honda', 34, 'Rajshahi', 'Bangladesh'])

Take a string and print the first 5 characters.
Reverse a string using slicing.
Create a list of numbers and print every second element.
Slice a tuple to get the middle two elements.
Use slicing to extract a sub-matrix from a nested list.

In [2]:
Text = "hamid hasan"
print (Text [0:5])

hamid

In [4]:
Text = "hamid hasan"
print (Text[::-1])

nasah dimah

In [5]:
Numbers = [ 10, 12, 14, 13, 16, 17]
print (Numbers [::2])

[10, 14, 16]

In [8]:
Fruits = [ "kiwi", "apple", "banana", "orange", "mango", "strawberry"]
print (Fruits [2:4])

['banana', 'orange']

In [11]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print (matrix [0:2])
print (matrix [1:2])
print (matrix[1] [1:2])
print (matrix[2] [1:3])

[[1, 2, 3], [4, 5, 6]]
[[4, 5, 6]]
[5]
[8, 9]

Write a program to check if a number is positive, negative, or zero.
Take a number from the user and check if it is even or odd.
Write a grading program that prints A, B, C, or F based on score.
Use a nested if to check if a number is divisible by 2 and 3.
Use a short-hand if to check if someone is an adult (age ≥ 18).

In [19]:
x = int(input("input a number: "))
if x >= 0:
    print ("x is greater than or equal to zero")
else:
    print ("x is negative")

input a number: 4
x is greater than or equal to zero

In [23]:
number = [1, 3, 55, 4, 10]
if number [4] % 2 == 0:
    print ("even")
else:
    print ("odd")

even

In [24]:
marks = [60, 55, 70, 80, 90]
if marks [3] >= 90:
    print ("A")
if marks [3] >= 80:
    print ("B")
if marks [3] >= 70:
    print ("C")
if marks [3] >= 60:
    print ("D")
else:
    print ("F")

B
C
D

In [35]:
marks = int(input("input students obtained numbers: "))
if marks >= 90:
    print ("A")
elif marks >= 80:
    print ("B")
elif marks >= 70:
    print ("C")
elif marks >= 60:
    print ("D")
else:
    print ("F")

input students obtained numbers: 89
B

In [37]:
x = int (input("input a number: "))
if x % 2 == 0:
    print (True)
if x % 3 == 0:
    print (True)
else:
    print (False)

input a number: 12
True
True

In [39]:
Age = 23
print ("True") if Age >= 18 else print ("False")

True

Print numbers from 1 to 20 using a for loop.
Use a while loop to print numbers from 10 down to 1.
Print even numbers between 1 and 50 using a loop.
Use break to stop a loop when number = 7.
Use continue to skip multiples of 3 in a loop from 1 to 15.
Write a nested loop to print a multiplication table for numbers 1–5.