<a href="https://colab.research.google.com/github/Taslar16/Python/blob/main/Hamid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prints your name and age.

In [ ]:
Name = "Hamid"
Age = "33"
print (Name, Age)

Hamid 33

In [ ]:
P = 10, 2
t = 3, 4
print (P+t)

(10, 2, 3, 4)

In [ ]:
P = 10, 2
t = 3, 4
print (sum(P+t))

19

2. Store your favorite number in a variable and print it.

In [ ]:
Number = 7105
print(Number)

7105

In [ ]:
T, O = 6, 5
print (T+O)
print ("6+5=", T+O)
print ("6+5=",)

11
6+5= 11
6+5=

4. Use comments to explain your code.

In [ ]:
T, O = 6, 5
# T and O were Added
print (T+O)
print ("6+5=", T+O)
# WE CAN MAKE AS FOLLOWS ALSO
print ("6+5=",)

11
6+5= 11
6+5=

Take two numbers from the user and perform all arithmetic operations.
Write a program to check if a number is greater than 100 and less than 200.
Demonstrate the use of and, or, and not with conditions.
Check if the letter 'p' exists in the string 'Python'.
Show the difference between is and == using two lists.

In [ ]:
number1 = int (input ("enter your number1: "))
number2 = int (input ("enter your number2: "))
print ("Sum:", number1 + number2)
print ("Difference:", number1 - number2)
print ("Product:", number1 * number2)

# Add a check to prevent division by zero
if number2 != 0:
    print ("Division:", number1 / number2)
else:
    print("Cannot divide by zero.")

enter your number1: 110
enter your number2: 12
Sum: 122
Difference: 98
Product: 1320
Division: 9.166666666666666

In [ ]:
x = 100
y = 200
print (x == y)
print (x > 100 and y < 200)
print (x > 100 or y < 200)
print (not x > 100)
print (110 > 100 and 110 < 200)
print (110 > 100 or 110 < 200)
print (not 110 > 100)
print ( x != y)

False
False
False
True
True
True
False
True

In [ ]:
print ( 10 and 10 )
print (10 and 0 )
print ( 10 or 10 )
print (10 or 0 )
print (not 0 )
print (not 10)
print ( not False)

10
0
10
10
True
False
True

In [ ]:
Name = "Python"
print ("P" in Name)
print ("a" in Name)
print ("a" not in Name)

True
False
True

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]
print (x == y)
print (x is y)
print (x and y)

True
False
[1, 2, 3]

Ask the user for their birth year and calculate their age.
Convert a float number to an integer and print both values.
Write a program that asks for two numbers and prints their product.
Create a variable is_python_fun with a boolean value and print it.

In [ ]:
birth_year = int(input("enter your birth_year: "))
age = (2023 - birth_year)
print(age)

enter your birth_year: 1991
32

In [ ]:
number = 3.99
print(number)
print(type(number))
print(int(number))
print(type(int(number)))

3.99
<class 'float'>
3
<class 'int'>

In [ ]:
is_python_fun = True
bool(is_python_fun)
print(is_python_fun)

True

Take a string input and print the first and last characters.
Write a program to reverse a string using slicing.
Count how many times the letter a appears in a string.
Ask the user for their full name and print it in uppercase.
Format a string to display: “My favorite subject is ___ and I am ___ years old.”

In [2]:
word = "Ahasanul"
print (word [0])
print (word [7])

A
l

In [4]:
word = "Ahasanul"
print (word[3:])

sanul

In [6]:
word = "Ahasanul"
# Count the occurrences of the letter 'a' (case-sensitive)
print (word.count('a'))

2

In [7]:
word = input ("enter a word")
print (word.count("a"))

enter a wordAhasanul
2

In [9]:
word = input ("enter a word")
print (word.upper())

enter a wordAhasanul
AHASANUL

In [11]:
my_favourite_subject = input ("enter a subject")
my_age = input ("enter a age")
print (f"My favorite subject is {my_favourite_subject} and I am {my_age} years old.")

enter a subjectBiology
enter a age32
My favorite subject is Biology and I am 32 years old.

Create a list of 5 numbers and print the sum and average.
Store 3 favorite colors in a tuple and print them.
Create a set of numbers and demonstrate union and intersection.
Make a dictionary with keys: name, age, city. Print values nicely.
Update a dictionary to add a new key country.

In [13]:
numbers = (1, 2, 3, 4, 5)
print (sum(numbers))
print (sum(numbers) / len(numbers))

15
3.0

In [15]:
colors = ("Blue", "Green", "white")
print (colors)

('Blue', 'Green', 'white')

In [17]:
numbers1 = {1, 3, 5, 12}
numbers2 = {2, 4, 6, 8}
print (numbers1 | numbers2)
print (numbers1 & numbers2)

{1, 2, 3, 4, 5, 6, 8, 12}
set()

In [25]:
worker = { "name": "Honda", "Age": 34, "city": "Rajshahi"}
print (worker)
print(worker.keys())
print (worker.values())

{'name': 'Honda', 'Age': 34, 'city': 'Rajshahi'}
dict_keys(['name', 'Age', 'city'])
dict_values(['Honda', 34, 'Rajshahi'])

In [28]:
worker = { "name": "Honda", "Age": 34, "city": "Rajshahi"}
worker ["country"] = "Bangladesh"
print (worker)
print(worker.keys())
print (worker.values())

{'name': 'Honda', 'Age': 34, 'city': 'Rajshahi', 'country': 'Bangladesh'}
dict_keys(['name', 'Age', 'city', 'country'])
dict_values(['Honda', 34, 'Rajshahi', 'Bangladesh'])